##########################################################################
# Norman's mailmaps - for git
##########################################################################
Norman Tang <norman@normstorm.com>
Norman Tang <norman@normstorm.com> normstorm <ntang972@gmail.com>
Norman Tang <norman@normstorm.com> U-NORMSTORM\norma <ntang972@gmail.com>
